@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@485&family=Roboto:wght@400;500;700&family=Rubik:wght@300&family=Sora:wght@386&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideinLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideinRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  opacity: 0;
}
 
 
.nav-scrolled {
  background-color: black;
  color: white;
  transition: 1s ease-in-out;
}
.slideinLeft {
  animation: slideinLeft 1.5s ease-in-out 1s;
}
.slideinRight {
  animation: slideinRight 1.5s ease-in-out 2s;
}

.fadeInDown {
  animation: fadeInDown 1.6s ease-in-out 0s;
}
/* .yellow {
  background-image: url("./assets/10004.jpeg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6) contrast(1);
  position: relative;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0rem;
  z-index: 1;
} */

.bg-image-2 {
  background-image: url("./assets/corpo2.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0rem;
  z-index: -1;
  height: 100vh;
  background-repeat: no-repeat;
}

.backgroundImage {
  background-image: url("./assets/corpo2.jpg");
  width: 100%;
}
.backgroundImage1 {
  background-image: url("./assets/ship2.jpg");
  width: 100%;
  height: 100%;
}
.backgroundImage2 {
  background-image: url("./assets/air.jpg");
  width: 100%;
}

.overlay {
  content: "";
  display: block;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(255, 255, 255);

  filter: brightness(0);
}
